body {
    font-family: 'Raleway', sans-serif;
    color:#212121;
    font-weight:500;
}
p {
    font-family: 'Montserrat', sans-serif;
    line-height:30px;
    color:#212121;
}
.container {
    width:85%;
}
.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
  color:#212121;
}

.section h2 {
  font-size: 1.3rem;
}
.emoji-rain {
    width:100%;
}
.rain-box {
    padding:20px;
}
.big-text {
    font-size:24px;
    font-weight:500;
}
.big-text small {
    font-size:14px;
    display:inline-block;
}
.welcome-banner {
    background: #fff;
    color:#000;
    padding:40px;
    margin-top:100px;
}
.welcome-banner h1 {
    line-height: 60px;
    font-weight:300;
    font-family: "Montserrat",sans-serif;
    font-size:36px;
}
h4 {
    line-height: 32px;
}
.welcome-banner p {
    line-height:30px;
}
.meaning {
    padding:20px;
}
.underline {
    text-decoration:underline;
}
.side-content {
    padding:20px;
    margin-top:40px;
}
.history {
     background:#323137;
    /**background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(12,15,55,1) 35%, rgba(0,212,255,1) 100%);**/
    color: #fff;
}
.history p {
    color:#fff;
}
.footer {
    background: #323137;
    /*padding-top: 70px;
    padding-bottom: 160px;*/
    color: #d1d2d8;
}
.footer p {
    color:#fff;
}
/* Line graph
*/
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: brown;
}
.axis--x path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}
.circle {
  fill: steelblue;
}
.affix {
    top:50px;
    position:fixed;
}

/* Style the dots by assigning a fill and stroke */
#line-graph {
    background:#fff;
    padding:20px;
}
.dot {
    fill: #ffab00;
    stroke: #fff;
}

#random, #sorted {
  display: inline-block;
  list-style: none;
  width: auto;
}


#sorted{
  display:block;
  margin:0 auto;
  text-align:left;
  visibility: hidden;
}

.circle {
  display: inline-block;
  position: relative;
  border: 3px solid #EAC67A;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  text-align: center;

}

.circle.red {
  border-color: #B82601;
}



.circle i {
  display: block;
  font-style: normal;
  font-size: 20px;
  line-height:1;
  position: absolute;
  top: 50%;
  height: 20px;
  margin-top: -10px;
  left: 0px;
  text-align: center;
  width: 100%;
}

#sorted ul{
padding-top: 55px;
}

span.main {
    padding:20px;
}
#appbar.vz-projector-app {
    display:none !important;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  /*background: #fff;*/
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #fff;
  color: #212121
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #fff transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #fff;
}

time {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #fff;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

/* GRAPHIC CODE */
.graphic {
	width: 100%;
	position: relative;
}

.graphic__prose {
	width: 24rem;
}

.graphic__prose .trigger {
	padding: 0;
	margin: 0;
	min-height: 240px;

}

.graphic__vis {
	position: absolute;
	top: 0;
	margin-left: 30rem;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	height: 100vh;
}

.graphic__vis.is-fixed {
	position: fixed;
}

.graphic__vis.is-bottom {
	top: auto;
	bottom: 0;
}

.graphic__vis svg {
	border: 1px dashed black;
	top: 50%;
	position: relative;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.item circle {
	stroke: #666;
	stroke-width: 1px;
	fill: #fff;
}

.item text {
	fill: #666;
	font-size: 12px;
	text-anchor: middle;
	alignment-baseline: middle;
}



/* graph-scroll.js version */
.graphic__vis.graph-scroll-fixed {
	position: fixed;
	right: auto;
}

.graphic__vis.graph-scroll-below {
	top: auto;
	bottom: 0;
}
